* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
}
body {
    background-color: rgb(32, 32, 32);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    width: 30rem;
    border: 1px solid #3f3f3f;
    text-align: center;
    padding: 0.5rem;
    background-color: #3f3f3f;
}
.calc-screen {
    width: 100%;
    border: 1px solid black;
    height: 4rem;
    
}

.btn-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-controls > * {
    padding: 1.5rem 1rem;
    border: 1px solid black;
    width: 100%;
    margin: 0.5rem 0;
}

.btn-controls > *:first-child {
    margin-right: 0.25rem;
}

.btn-controls > *:last-child {
    margin-left: 0.25rem;
}

.btn-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.5rem;
}

.calc-btn {
    border: 1px solid black;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #818181;
}

.calc-btn:hover {
    background-color: #a5a5a5;
}

