* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
    font-family: 'JetBrains Mono', monospace;

    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #96939B;
}

.calculator, .calc-screen, .btn-controls > *, .calc-btn {
    border: 3px solid #000000;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    width: 30rem;
    text-align: center;
    padding: 1.5rem;
    background-color: #E8E8E8;
}
.calc-screen {
    width: 100%;
    display: grid;
}

.btn-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-controls > * {
    padding: 1.5rem 1rem;
    width: 100%;
    margin: 0.5rem 0;
}

.btn-controls > *:first-child {
    margin-right: 0.25rem;
}

.btn-controls > *:last-child {
    margin-left: 0.25rem;
}

.btn-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.5rem;
}

.calc-btn {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #BFBFBF;
}

.calc-btn:hover {
    background-color: #a5a5a5;
}

.btn-clear {
    background-color: #454545;
    color: #ffffff;
}

.btn-delete {
    background-color: #ff0000;
    color: #ffffff;
}

.btn-controls * {
    cursor: pointer;
}

.btn-controls > *:hover {
    opacity: 0.7;
}


.calc-inputs {
    font-size: x-large;
    padding: 1rem 0.5rem;
}

.calc-result {
    font-size: xx-large;
    padding: 1rem 0.5rem;
}

.calc-screen > * {
    text-align: right;
}